
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelSuperUsuario.cshtml";
}

<h2 class="titulo">Bienvenido(a) al panel de Administrador...</h2>

<div>
    <center><img src="@Url.Action("Chart")" alt="chart" /></center>
</div>
<hr />
<div>
    <center><img src="@Url.Action("ChartColumn")" alt="chart" /></center>
</div>